<div *ngIf="loading">Loading…</div>

<div *ngIf="localBook" class="card detail">
  <div class="left">
    <ng-container *ngIf="localBook.image; else noCoverLocal">
      <img [src]="localBook.image" class="cover" alt="cover" />
    </ng-container>
    <ng-template #noCoverLocal
      ><div class="placeholder">No photo</div></ng-template
    >
  </div>

  <div class="right">
    <h2>{{ localBook.title }}</h2>
    <small class="muted"
      >by {{ localBook.authors?.join(", ") || "Unknown" }}</small
    >
    <p *ngIf="localBook.description" style="margin-top: 12px">
      {{ localBook.description }}
    </p>

    <div style="margin-top: 12px">
      <button class="btn btn-primary" (click)="goHome()">Go Back Home</button>
    </div>
  </div>
</div>

<div *ngIf="apiBook" class="card detail">
  <div class="left">
    <ng-container *ngIf="apiBook.image; else noCoverApi">
      <img [src]="apiBook.image" class="cover" alt="cover" />
    </ng-container>
    <ng-template #noCoverApi
      ><div class="placeholder">No photo</div></ng-template
    >
  </div>

  <div class="right">
    <h2>{{ apiBook.title }}</h2>
    <small class="muted"
      >by {{ apiBook.authors?.join(", ") || "Unknown" }} (API)</small
    >
    <p *ngIf="apiBook.description" style="margin-top: 12px">
      {{ apiBook.description }}
    </p>

    <div style="margin-top: 12px">
      <button class="btn btn-success" (click)="addApiBookToMyBooks()">
        Add to My Books
      </button>
      <button
        class="btn btn-primary"
        style="margin-left: 8px"
        (click)="goHome()"
      >
        Go Back Home
      </button>
    </div>
  </div>
</div>
