<h2>About This App</h2>
<p>Book App is a small web application that allows users to:</p>
<ul>
  <li>Discover and search for books using the Google Books API</li>
  <li>Add books to their collection</li>
  <li>Manage their collection of books</li>
</ul>

<hr />

<h3>About Me</h3>
<p>
  <strong>{{ yourName }}</strong>
</p>
<p>{{ bio }}</p>

<hr />

<h3>Contact</h3>
<ul>
  <li>
    Email: <a href="mailto:{{ email }}">{{ email }}</a>
  </li>
  <li>
    Phone: <a href="tel:{{ phone }}">{{ phone }}</a>
  </li>
  <li>
    GitHub:
    <a target="_blank" rel="noopener" href="{{ github }}">{{ github }}</a>
  </li>
  <li>
    LinkedIn:
    <a target="_blank" rel="noopener" href="{{ linkedin }}">{{ linkedin }}</a>
  </li>
</ul>